{% extends 'list_view_base.html' %}
{% load static %}

{% block page_title %}Projects{% endblock %}
{% block list_title %}Projects{% endblock %}
{% block card_title %}All Projects{% endblock %}
{% block item_count %}{{ project_list|length }}{% endblock %}

{% block action_buttons %}
<a href="{% url 'battycoda_app:create_project' %}" class="btn btn-primary" 
   data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add a new project">
    <i class="fas fa-plus"></i> New Project
</a>
{% endblock %}

{% block table_header %}
<th>Name</th>
<th>Tasks</th>
<th>Batches</th>
<th>Created</th>
<th>Created By</th>
<th>Actions</th>
{% endblock %}

{% block data_table %}
{% with items=project_list %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block detail_url %}{% url 'battycoda_app:project_detail' item.id %}{% endblock %}
{% block view_url %}{% url 'battycoda_app:project_detail' item.id %}{% endblock %}
{% block edit_url %}{% url 'battycoda_app:edit_project' item.id %}{% endblock %}
{% block delete_url %}{% url 'battycoda_app:delete_project' item.id %}{% endblock %}

{% block item_fields %}
<td>{{ item.tasks.count }}</td>
<td>{{ item.task_batches.count }}</td>
<td>{{ item.created_at|date:"M d, Y" }}</td>
<td>{{ item.created_by.username }}</td>
{% endblock %}

{% block empty_icon %}fas fa-folder-open{% endblock %}
{% block empty_title %}No Projects Found{% endblock %}
{% block empty_text %}Create your first project to get started.{% endblock %}
{% block create_url %}{% url 'battycoda_app:create_project' %}{% endblock %}
{% block create_text %}Add New Project{% endblock %}