<!DOCTYPE html>
<html>
<body style="background-color:Black;">
<div class="container" style="position: relative; background-color:Salmon" align="center">
<h1 style="font-family:Helvetica">BattyKoda</h1>

<p style="font-family:Helvetica">Current experiment: User / Species/ Date</p>
</div>

<form method="post">

<p style="color:white; font-family:Helvetica"><label for="user_name">User:</label>
<input required type="text" id="user_name" name="user_name" value="{{data.user_name}}">



<div class="container" style="position: absolute; top: 150px; left: 30px; width:600px;height:450px; background-color:Black" align="center">
<p style="color:white; font-family:Helvetica">Spectrogram: {{data.currentcall}} of {{data.totalcalls}} calls</p>
<p style="color:white; font-family:Helvetica"><label for="contrast">Contrast:</label>
<input required
       type="text"
       id="contrast"
       name="contrast"
       onchange="document.getElementById('submitbutton').disabled=isNaN(Number(document.getElementById('contrast').value))"
       value="{{data.contrast}}">

<br><label for="loudness">Loudness:</label>
    <input required
       type="text"
       id="loudness"
       name="loudness"
       onchange="document.getElementById('submitbutton').disabled=isNaN(Number(document.getElementById('loudness').value))"
       value="{{data.loudness}}">

<br>
    <label for="main">Main channel:</label>
<input required
       type="number"
       min="1"
       max="{{ data.max_main }}"
       id="main"
       name="main"
       value="{{data.main}}">

    <img id="image" src="{{data.spectrogram}}" alt="spectrogram" width="600" height="250" alight="left">
</div>
</div>
<div class="container" style="position: absolute; top: 500px; left: 300px;  width:100px;height:25px; background-color:Black" align="center">
 <input id='submitbutton' type="submit" name='submitbutton' value="Next Call">
   <input id='updatebutton' type="submit" name="updatebutton" value="Update">
    <input id='undobutton' type="submit" name="undobutton" value="Undo">

</div>


<div class="container" style="position: absolute; top: 200px; left: 600px;  width:300px;height:250px; color:white; background-color:Black" align="left">

<input type="radio" id="correct" name="type_call" value="correct">
<label for="correctly classified" style="color:white; font-family:Helvetica">Correctly classified</label></br>

    {{ data.species }}

<input type="radio" id="Unsure" name="type_call" value="Unsure">
<label for="Unsure" style="color:white; font-family:Helvetica">Unsure</label></br>

<input type="radio" id="Other" name="type_call">
<label for="Other" style="color:white; font-family:Helvetica">Other:</label>
<input type="text" id="Other" name="type_call">
</div>

<div class="container" style="position: absolute; top: 150px; left: 850px; width:500px;height:450px; background-color:Black" align="center">
<p style="color:white; font-family:Helvetica"><i>Spectrogram</i> template</p>
<img src="{{data.jpgname}}" alt="template" width="500" height="450" alight="left">
</div>


<div class="container" style="position: absolute; top: 550px; left: 50px; width:400px;height:150px; background-color:Black" align="center">

<p style="color:white; font-family:Helvetica">Confidence: {{data.confidence}} </p>
<p style="color:white; font-family:Helvetica"><label for="limit_confidence">If future confidence is below this ask:</label>
<input required type="number"  min="0" max="100" step="1" id="limit_confidence" name="limit_confidence" value="{{data.limit_confidence}}">

</form>
<p>{{ data.backlink }}</p>
<p><audio
        controls
        src="{{ data.audiolink }}" preload="none">
            Your browser does not support the
            <code>audio</code> element.
    </audio></p>

<p><img id="image" src="{{data.spectrogram_large}}" /></p>
<p><audio
        controls
        src="{{ data.long_audiolink }}" preload="none">
            Your browser does not support the
            <code>audio</code> element.
    </audio></p>
{{ data.others }}
 <script>
        window.onload = function() {
            document.getElementById("{{data.focused}}").focus();
        }
    </script>
</body>
</html>

