<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattyKoda</title>
</head>
<body>
<p>Current experiment: User / Experiment / Date / Species</p>
<p>345 of 2190 calls</p>
<img src="{{data.spectrogram}}" />
<img src="{{data.waveform}}" />
<p>Call detected: {{data.guess}}</p>
<p>Confidence: {{data.confidence}}</p>
<form method="post">
  <label for="limit_confidence">If future confidence is below this, ask:</label>
  <input type="text" id="limit_confidence" name="limit_confidence" value="{{data.limit_confidence}}"/><br /><br/>

    <input type="radio" id="correct" name="type_call" value="correct"  checked="checked" />
  <label for="correct">correct</label>

    <input type="radio" id="FMB" name="type_call" value="FMB">
  <label for="FMB">FMB</label>

    <input type="radio" id="U" name="type_call" value="U">
  <label for="U">U</label><br />

    <input type="radio" id="UFM" name="type_call" value="UFM">
  <label for="UFM">UFM</label>

    <input type="radio" id="Echo" name="type_call" value="Echo">
  <label for="Echo">Echo</label>

    <input type="radio" id="LFM" name="type_call" value="LFM">
  <label for="LFM">LFM</label><br />

    <input type="radio" id="QCF" name="type_call" value="QCF">
  <label for="QCF">QCF</label>

    <input type="radio" id="Chev" name="type_call" value="Chev">
  <label for="Chev">Chev</label>

    <input type="radio" id="SFM" name="type_call" value="SFM">
  <label for="SFM">SFM</label><br />

    <input type="radio" id="Other" name="type_call" value="Other">
  <label for="Other">Other:</label>
  <input type="text" id="lother" name="lother"><br><br>

    <label for="user_name">Annotator name:</label>
  <input type="text" id="user_name" name="user_name" value="{{data.user_name}}"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
